.footer {
    display: block;
    width: 100%;
    max-height: 35vh;
    background-color: black;
    color: white;
    align-items: center;
    justify-items: center;
    position: fixed;
    bottom: 0;
}
#main {
    align-items: center;
}